<%- include('partials/header') %>

<img src="images/backgroundhome.png" alt="" class="backgroundhome">

<div class="centered">
  <div class="container" data-aos="fade-up" data-aos-duration="3000">
    <h1 class="homeheading">Cygna</h1>
    <p class="hometagline">The sky is not the limit if you are willing to explore...</p>
    <hr>

  


    <div class="buttons" >
      <a href="/register" class="btn">Register</a>
      <a href="/login" class="btn">Login</a>
    </div>
  
    
  </div>

  <div class="homeabout" data-aos="zoom-out-up" data-aos-duration="2000">
    <h2>
        What we are about?
    </h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam quod expedita laudantium ut accusamus. Id cum dolorum assumenda reprehenderit vero labore quas similique impedit esse dolore. Quia vel vero quod.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae ex et repellendus quis maxime quod beatae repellat reprehenderit accusantium iste distinctio sequi, tempora expedita adipisci porro, eaque pariatur quam quisquam.

    </p>
  </div>
</div>

<footer>
  <p>NASA® 2021</p>
  <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
  <a href="#" class="insta"><i class="fab fa-instagram"></i></a>
  <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
</footer>

<%- include('partials/footer') %>
