<%- include('partials/header') %>

    <div class="success">
        <h1>Success!</h1>
        <p>Your application has been registered. Results will be sent to you soon.</p>
    </div>
</body>
</html>